{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
{% endblock %}


{% block body %}
<div class="db-area">
    <div class="users-table">
        <table>
            <tr>
                <th>user id</th>
                <th>username</th>
                <th>is admin</th>
            </tr>
            
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td class="foo"><a href="/api/delete_user?id={{ user[0] }}">Delete</a></td>
                <td class="foo"><a href="/api/make_admin?id={{ user[0] }}">Make Admin</a></td>
            </tr>
            {% endfor %}
        
        </table>
    </div>
    <div class="">

    </div>
</div>
{% endblock %}