<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock%}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">
        <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>


        <div id="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/storage">Storage</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
        </div>

        
        {% block body %}{% endblock %}
    </body>
    <script>if (typeof main == "function") main();</script>
</html>
