{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}
<div id="intro">
    <h1>Catchy</h1>
    <p>An all in one simple solution for self-hosted web storage</p>
</div>
{% endblock %}