{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<script>

var form;

const onFormSubmit = async (e) => {
    e.preventDefault();

    const username = form[0].value;
    const password = form[1].value;
    
    const data = {
        'username':username,
        'password':password
    };

    console.log([username, password])
    const res = await fetch("/api/login", {
        method:"POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });

    const res_data = await res.json();

    console.log(res_data);
    console.log(localStorage);
}

function main() {
    form = document.getElementById("form");
    form.addEventListener("submit", onFormSubmit);
}

</script>
{% endblock %}

{% block body %}
<div id="parent-wrapper">
    <form id="form" method="post">
        <div id="list-wrapper">
            <h1 id="list-title">Login</h1>
            <ul id="list">
                <li>
                    <input type="text" name="username" placeholder="username"/>
                </li>
                <li>
                    <input type="password" name="password" placeholder="password"/>
                </li>
                <li>
                    <input type="submit" name="submit" value="login">
                </li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
