{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='treeview.css') }}">
<!-- <script src="{{ url_for('static', filename='treeview.js') }}" charset="utf-8"></script> -->
{% endblock %}

{% block body %}
<div class="tree">
    <!-- 
        this will be the ".." thing to go 
        back to the previous route 
    -->
    
    {% if display_back == True %}
    <div class="storage-item">
        <a href="/storage">..</a>
    </div>
    {% endif %}

    {% for item in storage %}

    <div class="storage-item">
        <!-- is a file? -->
        {% if item[2] == True %}
        <!-- <a class="file" onclick="on_file_click('{{ item[0]|safe }}');">{{ item[0] }}</a> -->
            <a class="file" href="{{ item[1]|safe }}">{{ item[0] }}</a>
        {% else %}
            <a class="folder" href="{{ item[1]|safe }}">Directory: {{ item[0] }}</a>
        {% endif %}
    </div>

    {% endfor %}

</div>

{% endblock %}
