.users-table {
    border: 0.1vw solid black;
    width: fit-content;
    border-collapse: collapse;
    overflow: scroll;
    max-width: 30vw;
    max-height: 70vh;
}

.users-table th {
    padding: 0.4vw;
}

.users-table td {
    text-align: center;
}

.foo {
    background-color: green;
    border-radius: 0.4vw;
    padding: 0.4vw;
}