#parent-wrapper {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-wrapper {
    background-color: azure;
    margin-bottom: 8vh;
    border-style: solid;
}

#list-title {
    text-align: center;
}

#list {    
    display: inline;
    list-style: none;  
    margin-top: 0;
    margin: 0;
}

#list li input {
    /* bottom right top left */
    padding: 0.4vw;
    margin: 1vh 2vw 1vh 2vw;
}