body {
    padding: 0;
    margin: 0;
}

#navbar {
    position: static;
    background-color: aqua;
    width: 100%;
    height: fit-content;
    position: sticky;
    text-align: center;
}

#navbar ul {
    margin: 0;
    list-style-type: none;;
}

#navbar li {
    display: inline-block;
    /* margin-left: 0.4vw; */
    /* margin-right: 0.4vw; */
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    font-size: 1.2vw;
    /* border: 2px solid black; */
    padding: 2px;
}

