.storage-item {
    border: 0.1vw;
    border-style: solid;
    margin: 0.1vw;
    text-align: left;
}

.storage-item a { 
    display: inline-block;
    padding: 0.2vw;
    padding-left: 0.8vw;
}

.storage-item:hover {
    background-color: aqua;
}